Source: tuber
Maintainer: Mark Murnane <mark@hackafe.net>
Description: Tuber is a registration and event management system.
Standards-Version: 1.0.0
Section: utils

Package: tuber
Priority: optional
Architecture: all
Depends: python3-flask, python3-flask-sqlalchemy, python3-requests, python3-flask-migrate, python3-passlib
